[submodule "portfolio/themes/terminal"]
	path = portfolio/themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
[submodule "portfolio/public"]
	path = portfolio/public
	url = git@github.com:martantoine/martantoine.github.io.git
	branch = master
